
/*This affects all elements in the CSS Code and sets their attributes to 0 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}

/*For the background */
body{
    background-color:black;
}

h1 {
    font-size: 40px;
    color: rgb(51,255,51);
    position: absolute;
    top: 25%;
    left: 40%;    
}

/* For the play area*/
.container {
    font-size: 16px;
    background-color: black;
    width: 90vw;
    max-width: 34em;
    padding: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top : 50%;
    left: 50%;
    border-radius: 0.6em;
    border-color: rgb(51,255,51);
    border-style: dashed;
}
/* For the button when the player starts a new game */
#new-game-button{
    padding: 0.6em 1.2em;
    color:rgb(51,255,51);
    font-family: 'Silkscreen', sans-serif;
    background-color: black;
    border-color: rgb(51,255,51);
    border-radius: 5%;
}

/*For the categories */
.options {
    color:rgb(51,255,51);
    font-family: 'Silkscreen', sans-serif;
    background-color: black;
    border-color: rgb(51,255,51);
    border-radius: 5%;
}

/*For the text inside the options buttons */
#options-container {
    text-align: center;
    color: rgb(51,255,51);
}

/*For the space between each option button*/
#options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
  }

/* For the text inside each option button */
  #options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid rgb(51,255,51);
    background-color: black;
    color: rgb(51,255,51);
    border-radius: 0.3em;
    text-transform: capitalize;
  }
/* When an option is clicked, the button style will change below */
#options-container button:disabled {
    border: 3px solid rgb(51,255,51);
  color: rgb(18, 95, 18);
  background-color: black;
}

/* When a letter button is clicked, the button style will change below */
.letters:disabled {
    border: 3px solid rgb(230, 15, 8);
    color: rgb(18, 95, 18);
    background-color: black;
  }

/* When the options buttons are able to be clicked, it will appear as below */
#options-container button.active {
    background-color: black);
    border: 3px solid rgb(51,255,51);
    color: rgb(51,255,51);
}

/* Styling for the letter buttons */
.letters {
    color: rgb(51,255,51);
    background-color: black;
    border-radius: 5%;
    border-color: rgb(51,255,51);
    padding: 0.2em 1.0em;
}
/* Styling for the letter buttons spacing */
.letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
    color: rgb(51,255,51);
}

/* Styling for the game over screen */
.new-game-popup {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}

/* When the objects are declared hidden, they will not displayed on the screen */
.hide {
    display: none;
}

/*The Dashes created when a game begins */
#user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 1.2em 0;
    color: rgb(51,255,51);
}

/* Styling for the win screen */
.win-msg {
    text-align: center;
    color: rgb(51,255,51);
}

/* Styling for lost game screen */
.lose-msg {
    text-align: center;
    color: rgb(230, 15, 8);
}
/* Styling for the time over screen */
.time-over {
    text-align: center;
    color: rgb(230,15,8);
}

/* Styling for "THE WORD WAS" in the game over screen*/
p {
    color: rgb(51,255,51);
    text-align: center;
}

/* Styling for the canvas where the hangman is drawn */
canvas {
    display: block;
    margin: auto;
    border: 3px dashed rgb(51,255,51);
}

/* Styling for timer */
.countdown {
    color: rgb(51,255,51);
    background-color: rgb(51,255,51);
}